
.form-style{
    font-weight: bold;
    font-size: x-large;
    width: 100%;
    padding: 5px;
}

.form-style label {
    display: block;
    padding-top: 5px;
}

.form-style input {
    width: 70%;
    height: 30px;
    border: 0.5;
}

input, textarea{
    font-size: 20px
}

#send-button{
    color: white;
    background: black;
    margin-top: 5px;
    margin-left: 2px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: small;
}


#send-button:hover{
    border: 1 white;
}

form-input{
    padding: 10px;
    width: 100%;
}