@media screen and (max-width: 600px) {
  .main-body-style{
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media screen and (min-width: 600px) {
  .main-body-style{
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 1000px) {

  .main-body-style{
    margin-left: 18%;
    margin-right: 18%;
  }

}


/*control elements of the header when changing screen size*/
@media screen  and (min-width: 800px){
  .logo{
    font-size: x-large;
    margin-left: 7%;
  }

  .navigation-style{
    margin-right: 7%;
    font-size: large;
    color: black;
  }

}





.navigation-style li:hover{
  background-color: whitesmoke;
  display: block;
  border-radius: 10px;
}

.link-style:hover{
  color: black;
  display: block;
  border-radius: 10px;
}



